# DiploDatos 2019 - Análisis de Series Temporales

## Integrantes

| Nombre | e-mail |
|------|------|
|Rivadero, Isabel | isarivadero@hotmail.com |
|Vargas, Miguel | lvc0107@protonmail.com |
|Mancuso, Fernando | manquius@gmail.com |

## Práctico de Análisis y Curación de datos

En este práctico  continuaremos analizando el dataset más en detalle y tomaremos
acciones de limpieza y curación sobre los datos cuando sea necesario

### Dataset

In [2]:
### Aumentar el ancho del notebook
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [3]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
sb.set(rc={'figure.figsize':(10,6)})

cols = ['service',
        'sender_zipcode',
        'receiver_zipcode',
        'sender_state',
        'receiver_state',
        'shipment_type',
        'quantity',
        'status',
        'date_created',
        'date_sent',
        'date_visit',
        'target']
cols_holidays = ['holiday', 
                 'description']
data_path = './shipments_BR_201903.csv'
holidays = './holidays.csv'

In [4]:
df = pd.read_csv(data_path, usecols=cols)
df.shape

(1000000, 12)

In [5]:
df.head()

,sender_state,sender_zipcode,receiver_state,receiver_zipcode,shipment_type,quantity,service,status,date_created,date_sent,date_visit,target
0,SP,3005,SP,5409,express,1,0,done,2019-03-04 00:00:00,2019-03-05 13:24:00,2019-03-07 18:01:00,2
1,SP,17052,MG,37750,standard,1,1,done,2019-03-19 00:00:00,2019-03-20 14:44:00,2019-03-27 10:21:00,5
2,SP,2033,SP,11040,express,1,0,done,2019-02-18 00:00:00,2019-02-21 15:08:00,2019-02-28 18:19:00,5
3,SP,13900,SP,18500,express,1,0,done,2019-03-09 00:00:00,2019-03-11 15:48:00,2019-03-12 13:33:00,1
4,SP,4361,RS,96810,express,1,0,done,2019-03-08 00:00:00,2019-03-12 08:19:00,2019-03-16 08:24:00,4

#### Referencia de las columnas
* **service**: Identificador unico que corresponde a un tipo de servicio de un correo en particular.
* **sender_zipcode:** Código postal de quien envía el paquete (usualmente el vendedor).
* **receiver_zipcode:** Código postal de quien recibe el paquete (usualmente el comprador).
* **sender_state:** Nombre abreviado del estado de quien envía el paquete.
* **receiver_state:** Nombre abreviado del estado de quien recibe el paquete.
* **quantity:** Cantidad de items que tiene dentro el paquete.
* **status:** Estado final del envío.
* **date_created:** Fecha de compra de el o los items.
* **date_sent:** Fecha en que el correo recibe el paquete.
* **date_visit:** Fecha en que el correo entrega el paquete.
* **target:** Cantidad de dias hábiles que tardó el correo en entregar el paquete desde que lo recibe.

In [6]:
# set seed for reproducibility
np.random.seed(0)

In [7]:
df.sample(5)

,sender_state,sender_zipcode,receiver_state,receiver_zipcode,shipment_type,quantity,service,status,date_created,date_sent,date_visit,target
157105,SP,14405,MG,37706,standard,2,3,done,2019-03-13 00:00:00,2019-03-19 20:52:00,2019-03-22 11:00:00,3
374554,BA,40260,SE,49088,standard,1,1,done,2019-03-04 00:00:00,2019-03-06 15:32:00,2019-03-23 11:23:00,12
688694,SP,8061,DF,70236,express,1,0,done,2019-03-15 00:00:00,2019-03-15 16:04:00,2019-03-18 12:00:00,1
265381,SP,3118,BA,48455,standard,3,1,done,2019-03-10 00:00:00,2019-03-11 14:58:00,2019-03-27 07:56:00,12
955415,SP,14402,DF,71503,standard,1,4,done,2019-03-01 00:00:00,2019-03-07 03:55:36,2019-03-11 16:39:00,1

In [8]:
df.dtypes

sender_state        object
sender_zipcode       int64
receiver_state      object
receiver_zipcode     int64
shipment_type       object
quantity             int64
service              int64
status              object
date_created        object
date_sent           object
date_visit          object
target               int64
dtype: object

Implementación
Como primer paso es necesario verificar la consistencia de la información.
Para esto debemos verificar al menos lo siguiente:

1- ¿Los ids son únicos?

no entiendo a que se refiere con ids unicos??a las columnas??

2- Si no tuviéramos estos índices, ¿tenemos información para construir una clave
primaria?

3- ¿Tenemos datos faltantes? Dar detalles.

In [13]:
for col in df.columns:
    print(col)
    print(df[col].isna().value_counts())
    print('='*20)

sender_state
False    1000000
Name: sender_state, dtype: int64
====================
sender_zipcode
False    1000000
Name: sender_zipcode, dtype: int64
====================
receiver_state
False    1000000
Name: receiver_state, dtype: int64
====================
receiver_zipcode
False    1000000
Name: receiver_zipcode, dtype: int64
====================
shipment_type
False    1000000
Name: shipment_type, dtype: int64
====================
quantity
False    1000000
Name: quantity, dtype: int64
====================
service
False    1000000
Name: service, dtype: int64
====================
status
False    1000000
Name: status, dtype: int64
====================
date_created
False    1000000
Name: date_created, dtype: int64
====================
date_sent
False    1000000
Name: date_sent, dtype: int64
====================
date_visit
False    1000000
Name: date_visit, dtype: int64
====================
target
False    1000000
Name: target, dtype: int64
====================

Como podemos observar no tenemos datos faltantes ya que en cada una de las columnas todos los valores que devuelve isna() son false.

4- ¿Tenemos datos inconsistentes o raros? Dar detalles.

comencemos viendo que el target sea positivo o cero

In [15]:
(df['target']<0).value_counts()

False    1000000
Name: target, dtype: int64

Como podemos ver se tratan todos de valores positivos o iguales a cero.

In [23]:
df1=df.copy()
df1['date_created'] = pd.to_datetime(df1['date_created'])
df1['date_sent'] = pd.to_datetime(df1['date_sent'])
df1['date_visit'] = pd.to_datetime(df1['date_visit'])

In [35]:
(df1['date_visit'] > df1['date_created']).value_counts()

True     999832
False       168
dtype: int64

Con esto podemos observar cuantos valores hay en donde no se cumple que la fecha de entrega debe ser mayor que la fecha de compra. En específico, se trata de 168 fechas que no cumplen.

In [36]:
(df1['date_visit'] > df1['date_sent']).value_counts()

True     999939
False        61
dtype: int64

Con esto podemos observar cuantos valores hay en donde no se cumple que la fecha de entrega debe ser mayor que la fecha en que el correo recibe el paquete. En específico, se trata de 61 fechas que no cumplen.

In [37]:
(df1['date_sent'] > df1['date_created']).value_counts()

True     999829
False       171
dtype: int64

Con esto podemos observar cuantos valores hay en donde no se cumple que la fecha en que el correo recibe el paquete debe ser mayor que la fecha de compra. En específico, se trata de 171 fechas que no cumplen este requisito.

In [50]:
df1[((df1['date_visit'] <= df1['date_created']) | (df1['date_visit'] <= df1['date_sent']) ) |  (df1['date_sent'] <= df1['date_created'])]

,sender_state,sender_zipcode,receiver_state,receiver_zipcode,shipment_type,quantity,service,status,date_created,date_sent,date_visit,target
8622,SP,1521,DF,72504,standard,1,7,done,2019-06-27,2019-02-06 10:41:00,2019-03-06 14:18:00,17
10681,SP,3822,PE,51200,standard,1,4,sent,2019-06-18,2019-03-06 13:00:00,2019-03-06 13:24:00,0
13241,SP,14405,DF,71699,standard,1,7,done,2019-06-20,2019-03-06 05:17:00,2019-03-06 13:17:00,0
13295,SP,15820,MS,79011,express,1,7,done,2019-06-18,2019-02-06 11:34:00,2019-03-06 13:28:00,17
13446,SP,9961,SP,18125,standard,1,4,sent,2019-06-28,2019-02-06 03:43:00,2019-03-06 10:49:00,17
16031,SP,3064,RJ,22743,standard,1,7,done,2019-06-26,2019-02-06 06:02:00,2019-03-06 15:05:00,17
17562,SP,7411,MG,36220,standard,1,7,done,2019-06-17,2019-02-06 09:21:00,2019-03-06 12:03:00,17
27260,SP,18111,RS,96930,standard,2,4,sent,2019-06-26,2019-02-06 04:15:00,2019-03-06 11:28:00,17
34408,SP,7756,RJ,21330,express,1,7,done,2019-06-26,2019-02-06 06:00:00,2019-03-06 17:23:00,17
35609,SP,1207,SP,13216,express,4,4,sent,2019-06-16,2019-03-06 07:05:00,2019-03-06 07:07:00,0
37691,SP,18057,GO,74330,express,1,4,failed,2019-06-25,2019-03-06 06:20:00,2019-03-06 10:41:00,0
38286,SP,8430,AC,69921,standard,4,1,done,2019-03-08,2019-03-11 08:54:56,2019-03-11 08:54:56,0
42732,SP,3004,RN,59037,standard,1,7,done,2019-06-21,2019-02-06 04:35:00,2019-03-06 10:05:00,17
43486,SP,14402,DF,72275,standard,1,7,done,2019-06-25,2019-02-06 15:57:00,2019-03-06 18:02:00,17
44773,SP,19066,RJ,28110,standard,1,7,done,2019-06-22,2019-01-06 06:37:00,2019-03-06 10:00:00,38
50237,SP,14405,GO,74565,standard,1,7,done,2019-06-22,2019-02-06 04:21:00,2019-03-06 11:57:00,17
51810,SP,3167,CE,60181,standard,2,1,failed,2019-03-28,2019-03-28 15:04:00,2019-03-28 15:04:00,0
52412,SP,12950,ES,29800,standard,1,7,done,2019-06-25,2019-02-06 04:42:00,2019-03-06 07:29:00,17
54287,SP,4054,PR,82515,standard,1,7,done,2019-06-27,2019-02-06 02:51:00,2019-03-06 14:23:00,17
69111,SP,12950,ES,29800,standard,1,7,done,2019-06-20,2019-02-06 04:42:00,2019-03-06 06:35:00,17
69865,SP,4506,BA,41635,express,1,4,sent,2019-06-21,2019-03-06 02:35:00,2019-03-06 02:35:00,0
70854,SP,1129,SC,89155,standard,1,4,sent,2019-06-13,2019-03-06 03:56:00,2019-03-06 03:59:00,0
76450,SP,6412,RS,99200,standard,1,7,done,2019-06-25,2019-02-06 05:11:00,2019-03-06 15:23:00,17
81000,SP,7411,SP,13060,express,1,4,done,2019-06-28,2019-02-06 13:37:00,2019-03-06 13:12:00,17
84786,SP,2750,SC,88075,standard,4,4,failed,2019-04-24,2019-03-04 16:04:00,2019-03-04 16:04:00,0
88002,SP,13041,SC,89157,standard,1,4,sent,2019-06-20,2019-03-06 03:56:00,2019-03-06 03:59:00,0
88366,SP,3432,SP,14860,standard,1,4,done,2019-06-26,2019-03-06 02:47:00,2019-03-06 09:06:00,0
89198,SP,19020,CE,60835,standard,1,4,failed,2019-04-06,2019-03-04 15:00:00,2019-03-04 15:00:00,0
103535,SP,11060,SC,89893,standard,1,7,done,2019-06-24,2019-02-06 13:33:00,2019-03-06 07:30:00,17
105216,SP,6422,RJ,21610,express,1,7,done,2019-06-27,2019-02-06 06:01:00,2019-03-06 17:23:00,17
...,...,...,...,...,...,...,...,...,...,...,...,...
791470,SP,13076,SP,13720,standard,1,4,sent,2019-06-26,2019-02-06 02:52:00,2019-03-06 15:14:00,17
791679,SP,4691,SC,89135,standard,1,4,failed,2019-04-25,2019-03-04 16:22:00,2019-03-04 17:00:00,0
800195,SP,9961,SP,14031,standard,3,7,done,2019-06-26,2019-02-06 02:16:00,2019-03-06 13:16:00,17
817329,SP,6422,MS,79081,standard,1,10,failed,2019-04-12,2019-03-04 14:00:00,2019-03-04 14:00:00,0
821414,SP,1208,SP,7500,express,1,4,sent,2019-06-24,2019-02-06 17:55:00,2019-03-06 17:15:00,17
825644,SP,5307,ES,29117,standard,1,7,done,2019-06-26,2019-02-06 04:57:00,2019-03-06 11:20:00,17
828486,SP,6422,CE,60182,standard,1,4,sent,2019-03-13,2019-03-04 15:00:00,2019-03-04 15:00:00,0
829610,GO,74075,MG,36570,standard,2,1,done,2019-03-07,2019-03-08 07:33:38,2019-03-08 07:33:38,0
839076,SP,1209,SP,11703,express,1,4,failed,2019-04-22,2019-03-04 17:00:00,2019-03-04 17:00:00,0
846885,SP,13274,MG,39520,standard,1,7,done,2019-06-19,2019-02-06 10:32:00,2019-03-06 16:18:00,17
848401,SP,3004,SP,13172,express,1,4,failed,2019-06-25,2019-03-06 04:37:00,2019-03-06 04:37:00,0
853704,SP,7756,SC,89285,standard,1,7,done,2019-06-28,2019-02-06 03:42:00,2019-03-06 14:54:00,17
854261,SP,13840,SP,1139,express,2,4,sent,2019-06-18,2019-03-06 06:40:00,2019-03-06 15:20:00,0
859762,SP,3533,MG,35790,standard,1,4,failed,2019-04-19,2019-03-04 15:00:00,2019-03-04 15:00:00,0
859978,SP,9195,SP,14031,standard,4,7,done,2019-06-27,2019-02-05 23:57:00,2019-03-06 13:14:00,18
875527,SP,4123,MS,79051,standard,1,4,failed,2019-04-04,2019-03-04 09:59:00,2019-03-04 09:59:00,0
880241,PR,85858,PR,85478,express,1,0,done,2019-03-15,2019-03-18 09:43:00,2019-03-18 09:43:00,0
902439,GO,74275,GO,75985,standard,2,1,done,2019-03-12,2019-03-12 17:05:00,2019-03-12 17:05:00,0
904353,SP,2750,SP,13175,express,1,7,done,2019-06-27,2019-02-06 00:23:00,2019-03-06 13:17:00,17
905245,SP,3054,BA,44066,standard,2,4,failed,2019-04-21,2019-03-04 06:35:00,2019-03-04 06:35:00,0
912658,SP,3138,RJ,22241,express,1,7,done,2019-06-27,2019-02-06 03:48:00,2019-03-06 11:48:00,17
929852,SP,11060,MG,39260,standard,1,7,done,2019-06-22,2019-02-06 10:30:00,2019-03-06 14:47:00,17
937621,SP,1212,PE,53110,standard,1,4,failed,2019-04-19,2019-03-04 18:07:00,2019-03-04 18:07:00,0
942445,SP,2011,SP,14031,standard,1,7,done,2019-06-27,2019-02-06 02:10:00,2019-03-06 13:16:00,17
944720,SP,17512,GO,74015,standard,1,7,done,2019-06-25,2019-02-06 12:20:00,2019-03-06 06:40:00,17
969861,SP,5571,DF,71908,standard,1,1,done,2019-03-27,2019-03-28 12:42:56,2019-03-28 12:42:56,0
973040,SP,1129,RN,59650,standard,2,4,failed,2019-04-22,2019-03-04 17:00:00,2019-03-04 17:00:00,0
976504,SP,9090,AM,69088,standard,2,10,failed,2019-06-02,2019-03-06 06:48:00,2019-03-06 15:25:00,0
996240,SP,8050,SP,18607,express,1,0,failed,2019-03-20,2019-03-21 15:09:00,2019-03-21 15:09:00,0
998883,SC,89940,PR,85225,standard,1,1,done,2019-03-28,2019-03-29 07:06:00,2019-03-29 07:06:00,0

Entonces podemos decir que son 191 filas las que no cumplen alguna de las tres condiciones.

5-¿Tenemos outliers muy lejanos? ¿Conviene quitarlos del dataset?

6- ¿Las fechas tienen sentido? Dar detalles.

7- ¿Que otras verificaciones básicas podrías hacer?

a-¿Como se podría imputar las fechas faltantes de la columna ​ date_sent​ ? Justificarlo e
implementar alguna solución.

b-¿Qué riesgos existen al imputar datos? ¿Qué riesgos existen al imputar estos en particular?
¿Cómo corregirías las fechas inconsistentes? Implementar alguna solución

c-¿Es conveniente aplicar normalización o estandarización sobre algunos features? ¿Cuales
features? ¿Porqué?

d-¿Qué técnica utilizarías? Implementar alguna solución.

e-¿Es necesario reducir la dimensión de los features?

f-¿Sería útil aplicar el algoritmo de PCA? ¿Sobre qué features? ¿Con qué objetivo?

g-Actualmente el target tiene granularidad de días, ¿lo podrías refinar? ¿Como? ¿Qué
beneficios obtendrías al aumentar la granularidad?